<h2 class='text-center'>Add Books</h2>

<h3 class='text-center'>You can add a book by entering its title, ISBN-10 or ISBN-13</h3>

<%= form_tag books_path do %>
  <% @books.each_with_index do |book, index| %>
    <%= fields_for 'books[]', book do |f| %>
      <div class="row">
        <div class="small-offset-3 small-6 columns">
          <i>(Optional)</i>
          <%= f.label :name, 'Title', class: 'input-group-label' %>
          <%= f.text_field :name, autofocus: true, id: "book-field-#{index + 1}" %>
        </div>
        <div class = "small-offset-3 columns"></div>
      </div>

      <div class="row">
        <div class="small-offset-3 small-6 columns">
          <i>(Optional)</i>
          <%= f.label :isbn_10, 'ISBN-10', class: 'input-group-label' %>
          <%= f.text_field :isbn_10, autofocus: true, id: "isbn-10-field-#{index + 1}" %>
        </div>
        <div class = "small-offset-3 columns"></div>
      </div>

      <div class="row">
        <div class="small-offset-3 small-6 columns">
          <i>(Optional)</i>
          <%= f.label :isbn_13, 'ISBN-13', class: 'input-group-label' %>
          <%= f.text_field :isbn_13, autofocus: true, id: "isbn-13-field-#{index + 1}" %>
        </div>
        <div class = "small-offset-3 columns"></div>
      </div>
    <% end %>
  <% end %>

  <%= submit_tag 'Add', class: 'button button-center' %>
<% end %>

<%= link_to 'Go Back', books_path, data: { turbolinks: false }, class: 'button' %>
