<h2 class='text-center'><%= @book.name %></h2>

<h3>By: <%= @book.author %></h3>

<img src="<%= @book.image %>" width=300 height=300 />

<p>ISBN-10: <%= @book.isbn_10 %></p>
<% if @book.isbn_13 %>
  <p>ISBN-13: <%= @book.isbn_13 %></p>
<% end %>

<div id="bookID"><%= @book.id %></div>

<h3>Normal Distribution Graph: (Using 3 Standard Deviations)</h3>
<h5>Each line segment represents a standard deviation</h5>
<ul>
  <li>
    68% of the prices are within one standard deviation of the mean
  </li>
  <li>
    95% of the prices are within two standard deviations of the mean
  </li>
  <li>
    99.7% of the prices are within three standard deviations of the mean
  </li>
</ul>

<canvas id="scatterPlot"></canvas>

<p>
  <strong>Recommendation: Buy books at -1σ and sell books at 1σ</strong>
</p>

<ul id="targetPrices">

</ul>

<h3>Prices</h3>

<% @prices.each do |price| %>
  <p>Site: <%= price[0]['name'] %>, Price: <%= price[1]['price'] %></p>
<% end %>

<%= link_to 'Go Back', books_path, data: { turbolinks: false }, class: 'button' %>

<% if @previous %>
<%= link_to 'Previous Book', book_path(@previous), class: 'button' %>
<% end %>

<% if @next %>
  <%= link_to 'Next Book', book_path(@next), class: 'button' %>
<% end %>
