<h1><%= @book.name %></h1>

<h3>By: <%= @book.author %></h3>

<img src="<%= @book.image %>" width=300 height=300 />

<p>ISBN-10: <%= @book.isbn_10 %></p>
<% if @book.isbn_13 %>
  <p>ISBN-13: <%= @book.isbn_13 %></p>
<% end %>

<div id="bookID"><%= @book.id %></div>

<canvas id="scatterPlot"></canvas>

<h3>Prices</h3>

<% @prices.each do |price| %>
  <p>Site: <%= price[0]['name'] %>, Price: <%= price[1]['price'] %></p>
<% end %>

<%= link_to 'Go Back', books_path, data: { turbolinks: false }, class: 'button' %>
