<h1><%= @room.title %></h1>

<div id="messages" data-room-id="<%= @room.id %>">
  <%= render @room.messages %>
</div>

<%= form_for @message, url: '#' do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
    <small>(Maximum 500 characters)</small>
  </div>

  <%= f.submit 'Send', class: 'button' %>
<% end %>
