<h2 class='text-center'><%= @room.title %></h2>

<div id="messages" data-room-id="<%= @room.id %>">
  <%= render @room.messages %>
</div>

<%= form_for @message, url: '#' do |f| %>
  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <%= f.label :body, 'Body', class: 'input-group-label' %>
      <%= f.text_area :body %>
      <small>(Maximum 500 characters)</small>
    </div>
    <div class = "small-offset-3 columns"></div>
  </div>

  <%= f.submit 'Send', class: 'button button-center' %>
<% end %>

<%= link_to 'See all Rooms', rooms_path, class: 'button' %>
